:root {
  --border-radius-div: 30px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(185, 185, 185);
}

.background_login {
  display: flex;
  height: auto;
  margin: 0 15%;
  width: 50%;
  background-color: rgb(146, 146, 146);
  border-radius: var(--border-radius-div);
}

.login_input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  border-radius: var(--border-radius-div) 0 0 var(--border-radius-div);
  padding: 10px;
  width: 30%;
  background-color: rgb(71, 71, 73);
}

.login_input > * {
  padding: 10px;
  border-radius: 50px;
  min-height: 25px;
  width: calc(100% - 20px);
}

.login_information {
  border-radius: 0 var(--border-radius-div) var(--border-radius-div) 0;
  display: flex;
  text-align: flex-end;
  background-color: red;
  width: 70%;
}