:root {
  --border-radius-div: 20px;
}

html{
  font-family: sans-serif;
}

#body-form-register{
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-image: url(../public/wallpaperflare.com_wallpaper.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login, #register{
  display: inline-flex;
  margin: 5rem 0; 
  width: 50%;
  background-color: white;
  border-radius: var(--border-radius-div);
}

#login-form {
  padding: 20px;
  width: 40%;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
}

.input-text{
  border-radius: 20px;
  min-height : 30px;
  width: 100%;
  border : 1px black solid;
  text-indent : 10px;
  background-color: #f1f5f9;
  margin-top: 3px;
}

.input-text-large{
  border-radius: 20px;
  min-height : 150px;
  width: 100%;
  border : 1px black solid;
  
  background-color: #f1f5f9;
  margin-top: 3px;
  padding : 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}


#login-side {
  width: 60%;
  background: linear-gradient(#004872 0%,#00314d 100%) ;
  border-radius: 0px 20px 20px 0px;
  padding: 40px;
  color : white;
}

#login-side h2{
  margin:0;
  font-size : 32px;
}

#login-side-text{
  margin-top : 80px;
  font-size : 20px;
  line-height: 30px;
}

#logo-login{
  width: 100%;
}

#logo-register{
  width: 50%;
}

#div-logo{
  width: 100%;
  text-align: center;
}

.button-default{
  background-color: black ;
  color : white;
  width: 100%;
  height: 32px;
  border-radius: 20px;
  border : none;
  font-size: 16px;
}

.button-default:hover {
  cursor: pointer;
 }

.button-return {
  background-color: grey ;
  color : black;
  width: 100%;
  height: 32px;
  border-radius: 20px;
  border : none;
  font-size: 16px;
}

.button-return:hover {
  cursor: pointer;
 }



#btn-connexion, #btn-inscription{
  margin-top : 20px;
  margin-bottom : 15px;
}

#register-form{
  padding : 20px;
  width: 50%;
}

#register-side{
  width: 50%;
  text-align: center;
}

.two-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-column div{
  width: 100%;
}

/* .form-item{
  margin: 5px 10px 0px 10px;
} */

.body-backOffice{
  background-color: #ffffff;
  position: absolute;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.cellDefault{
  margin: 0px 15px;
  padding : 15px;
  background-color: white;
  border-radius: var(--border-radius-div);
}


.modal-content {
  background-color: #fff;
}

.title-modal {
  font-size: larger;
  margin: 0px 0px 15px 0px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent avec un léger flou */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content .cellDefault > * {
  margin-bottom: 10px;
}

.button-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.button-modal > * {
  flex-grow: 1;
}